@use 'global-styles/breakpoints' as *;

.home {

  main {
    padding-inline: var(--space-m-5xl);
    padding-block: var(--space-2xl);
    display: grid;
    place-content: center;
    min-height: 100%;
  }

  .wrapper {
    margin: auto;
    max-width: 69rem;
    text-align: center;
    border-radius: var(--radius-md);
    overflow: hidden;
  }

  .with-sidebar > .header-image {
    --sidebar-min-width: 28%;
  }

  .header-image {
    position: relative;
    min-height: 240px;

    &::after,
    &::before {
      content: '';
      position: absolute;
      display: block;
      inset: 0;
      z-index: 1;
    }

    &::before {
      background-color: hsl(277 55% 50% / 1);
      mix-blend-mode: multiply;
    }

    &::after {
      background-color: hsl(277 20% 18% / 1);
      mix-blend-mode: screen;
    }
  }

  .with-sidebar > .content {
    --max-sidebar-width: 36rem;
  }

  .content {
    padding-inline: var(--space-m-3xl);
    padding-block: var(--space-l-3xl);
  }

  .stack > .stats-preview {
    --stack-space: var(--space-l-3xl);
  }

  .stats-preview.switcher {
    --threshold: 19rem;
  }

  .stats-preview > .stack {
    --stack-space: var(--space-4xs);
  }


  @include for-tablet-landscape-up {
    .wrapper {
      text-align: left;
    }
    .with-sidebar > .header-image {
      order: 1;
    }
    .content p {
      margin-inline: 0;
    }
  }
}
