.with-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.with-sidebar > :last-child {
  flex-grow: 1;
  flex-basis: var(--max-sidebar-width, 20rem);
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-min-width, 50%);
}